 $accent-color: #2196f3;
 $background-color: #2f303a;
 $title-color: #212121;
 $white-color: #ffffff;
 $logo-accent-color: #000000;
 $text-color: #757575;
 $second-bg-color: #f5f4fa;
 $header-line-color: #ececec;
 $button-bg-color: #f5f4fa;
 $examples-border-color: #eeeeee;
 $icon-color: #afb1b8;
 $footer-social-bg: rgba(255, 255, 255, 0.1);

 $transition-duration: 250ms;
 $transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);