.our-work {
    @extend %list;
    display: flex;
    justify-content: space-between;

    &__item {
        position: relative;
    }

    &__img {
        @extend %img;
    }

    &__text {
        position: absolute;
        bottom: 0;
        left: 0;
        
        width: 100%;
        height: 70px;
        color: $white-color;
        background-color: rgba(47, 48, 58, 0.8);
        font-weight: 700;
        font-size: 14px;
        line-height: 1.143;
        justify-content: center;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        display: flex;
    }
}